.text-center {
  text-align: center;
  svg {
    margin: auto;
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.box {
  cursor: pointer;
  padding: 15px 10px;
}
.button-actions {
  button {
    margin: 5px;
  }
}

.credit-form {
  padding: 50px 30px 30px 50px;
}