.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}
.alice-carousel__prev-btn {
  left: -60px;
  text-align: left;
}
.alice-carousel__next-btn {
  right: -60px;
  text-align: right;
}

.hideMeAlways {
  display: none !important;
}

.break-after-always {
  page-break-after: always;
}

.rsm-geography {
  outline: none;
}

html {
  background-color: #f4f6f8 !important;
}
